
/*GENERAL RULES*/  
.wrapper{ /* creates full grid*/
    display: grid;
}
/*COURSE RULES*/
.course-right img {
    width:100%;
}
.course-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    column-gap: 1%;
}
.course-list {
    grid-row-start: 1;
    display: grid;
    margin-left: 5vw;
    margin-right: 1vw;
}
.course{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-top{
    order: 1;
    text-align: flex left;
}
.course-right{
    order: 2;
    width: 30%;
}
.course-bottom ol{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
}
