/* Footer general*/
:root {
    --white: #fff;
    --black: #000;
    --blue-birds: #0096d1;
    --bright-yellow: #fbdb14;
}

.sidebar-box {
    background-color: #0096d1   ;
}
.sidebar{
    margin-left: 50px;
    margin-right: 20px;
    /*background-color: #fbdb14;*/
    padding-left: 20px;
    padding-right: 20px;
    float: right;

}
.sidebar li{
    font-size: larger;
    text-align: left;
}
/*footer{
    background-color: var(--bright-yellow);
    color:black;
    text-decoration:underline;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    
}*/
/*.social li {
    color:red;
}*/

/*#mobile{

    text-align: left;
}

#github{
    text-align: left;
}

#email{
    text-align:right;
}

#instagram{
    text-align: right;
}*/

/*cource boxes*/



/*forms*/