:root {
    --white: #fff;
    --black: #000;
    --antarctic-blue: #2c3d63;
    --blue-birds: #0096d1;
    --bright-yellow: #fbdb14;
    --white-lie: #dededc
}

/* General */
* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--black);
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: fit-content;
}

a:link { /* unvisited link*/
    color:blue;
}

a:visited { /* visited link*/
    color:red;
}

a:active { /* current link*/
    color: purple;
}

/* Navigation Bar */
.navbar {
    background: var(--blue-birds);
    color: var(--white);
    /* position: fixed; */
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.page-menu {
    width: 20%;
}

.page-menu ul {
    display: flex;
    justify-content: space-around;
}

.page-menu li {
    list-style: none;
}

.page-menu a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
footer {
    padding: 10px;
    background-color: var(--white-lie);
    color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.social {
    width: 100%;
}

.social ul {
    display: flex;
    justify-content: space-around;
    
}

.social li {
    list-style: none;
}

.social a {
    text-decoration: none;
    font-weight: bold;
}

/* 2-side banners */
.banner {
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.banner-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.banner-right {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}

.banner-right img {
    margin: 10%;
    width: 60%;
    border-radius: 50%;
}