:root {
    --white: #fff;
    --black: #000;
    --antarctic-blue: #2c3d63;
    --blue-birds: #0096d1;
    --bright-yellow: #fbdb14;
    --white-lie: #dededc
}

/* General */
* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--black);
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    /* background: var(--white); */
    /* font-family: 'Ubuntu', sans-serif; */
    height: 100vh;
}

.container {
    width: 100%;
    height: fit-content;
}
/* na kanoyme to # koympi, kai na baloyme dipla logo san background img*/   
/* Navigation Bar */
.navbar {
    background: var(--blue-birds);
    color: var(--white);
    /* position: fixed; */
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.page-menu {
    width: 20%;
}

.page-menu ul {
    display: flex;
    justify-content: space-around;
    
}

.page-menu li {
    list-style: none;
}

.page-menu a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

<<<<<<< HEAD
a:link { /* unvisited link*/
    color:blue;
}
a:visited { /* visited link*/
    color:red;
}
a:active { /* current link*/
    color: purple;
}
    
=======
/* Footer */
footer {
    padding: 10px;
    background-color: var(--white-lie);
    color: var(--black);
    /* text-decoration:underline;
    top: 0;
    z-index: 1; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.social {
    width: 80%;
}

.social ul {
    display: flex;
    justify-content: space-around;
    
}

.social li {
    list-style: none;
}

.social a {
    color: var(--blue-birds);
    text-decoration: none;
    font-weight: bold;
}
>>>>>>> c947efd451c1be1939240aab1584baf98282a2a7
